[
  {lager, [
    {colored, true},
    {handlers, [
      {lager_console_backend, [
        info, {lager_default_formatter, [time, color, " [",severity,"] ", message, "\e[1;37m"]}
      ]},
      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/console.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/debug.log"}, {level, debug}]}
    ]}
  ]}
].
